<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cdo.UnionEuropeanCountry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_shape"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.cdo.UnionEuropeanCountry.CountryListActivity"></activity>
        <activity android:name="org.cdo.UnionEuropeanCountry.SecondActivity"
                  android:label="Back to login"
                  android:parentActivityName="org.cdo.UnionEuropeanCountry.Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.cdo.UnionEuropeanCountry.Login" />
        </activity>
        <activity android:name="org.cdo.UnionEuropeanCountry.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
